.create {
  color: #555;
  max-width: 480px;
  margin: 60px auto;
  padding: 40px;
  border: #8d8983 solid 2px;
  border-radius: 4px;
}
.create label span {
  display: block;
  margin: 30px 0px 10px;
}
.create p {
  margin-top: 10px;
  font-size: 0.8em;
}
.create button {
  display: block;
  width: 100px;
  margin: 20px auto;
  font-size: 1em;
  color: aliceblue;
  padding: 8px 20px;
  border: 0;
  border-radius: 4px;
  background-color: #491b86;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.9s ease;
}
.create button:hover {
  background-color: #bd35fc;
}
.ingredients {
  display: flex;
  align-items: center;
}
.ingredients button {
  margin: 0 0 0 10px;
}
.ingredients button:hover {
  background-color: cornflowerblue;
}
p.space{
  padding: 40px;
}
/* dark mode */
.create.dark{
  color: #e0d5c8;
  margin-bottom: 20px;
  border: #6e6c69 solid 2px;
  border-radius: 4px;
  background:#25373a;
}
.create.dark button{
  background-color: #36064d;
}
.create.dark button:hover{
  background-color: #270f46;
}
.create.dark h2{
  color: #d2b38d;
}